.inputField {
  width: 100%;
  min-width: 100%;
  margin-top: 1rem;

  & textarea {
    resize: none;
  }
}

.dialog-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.dialog-header h1 {
  flex: 1;
  min-width: 0;
}

.dialog-header button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  padding: 0.5rem;
}
