<div class="box">
  <div class="dialog-header">
    <h1 mat-dialog-title>{{ data.message }}</h1>
    <button
      mat-icon-button
      (click)="close()"
      aria-label="Dialog schließen und Speichern abbrechen"
    >
      &#10005;
    </button>
  </div>
  <div mat-dialog-content>
    <mat-form-field appearance="outline" class="inputField">
      <mat-label>Kommentar</mat-label>
      <textarea
        matInput
        cdkFocusInitial
        [(ngModel)]="comment"
        rows="4"
        maxlength="1000"
      ></textarea>
      <mat-hint align="end">{{ comment.length }}/1000</mat-hint>
    </mat-form-field>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-button (click)="onSkip()">Überspringen</button>
    <button
      mat-flat-button
      color="primary"
      (click)="onSubmit()"
      [disabled]="!comment.trim()"
    >
      Hinzufügen
    </button>
  </div>
</div>
