<form
  #feedbackForm="ngForm"
  (ngSubmit)="onFormSubmit(feedbackForm); checkIfSubmitted = true"
  class="form"
  data-test-id="feedback-form"
>
  <mat-error *ngIf="hasError"
    >Beim Senden des Feedbacks ist ein unerwarteter Fehler aufgetreten.
    {{ errorText }}</mat-error
  >
  <mat-form-field appearance="fill">
    <mat-label>Feedback</mat-label>
    <div>
      <textarea
        matInput
        name="description"
        maxlength="{{ maxCharactersFeedbackDescription }}"
        placeholder="Bitte gib ein Feedback"
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
        cdkAutosizeMaxRows="3"
        [(ngModel)]="values.description"
        #description="ngModel"
        data-test-id="kontakt-feedback-textarea"
      ></textarea>
      <app-current-characters-counter
        [maxCharacters]="maxCharactersFeedbackDescription"
        [currentCharacterCount]="values.description?.length ?? 0"
      ></app-current-characters-counter>
    </div>
    <mat-error *ngIf="description.invalid">
      Bitte fülle das Feedback aus.
    </mat-error>
  </mat-form-field>

  <span style="color: grey">Anhänge</span>
  <div>
    <input
      type="file"
      (change)="onFileSelected($event)"
      accept=".png, .jpg, .jpeg"
      multiple
    />
  </div>

  <div class="button-container">
    <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="isSubmitting"
      data-test-id="form-submit-button"
    >
      Absenden
    </button>

    <button
      mat-raised-button
      type="cancel"
      color="secondary"
      (click)="cancel()"
      data-test-id="feature-request-cancel-button"
    >
      Abbrechen
    </button>
  </div>
</form>
