.searchbar {
  min-width: 500px;
  max-width: 800px;
  width: 100%;
  display: flex;
  overflow: visible;
  white-space: nowrap;
}

.container {
  width: 500px;
  font-weight: 300;
  height: 50px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.option {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.search-icon {
  color: black;
  margin-top: 2px;
  height: 18px;
  font-size: 21px;
  position: relative;
  top: 2px;
}

.category {
  font-size: smaller;
  color: #999;
}

::ng-deep
  .searchbar
  .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
    .mdc-text-field--textarea
  )
  .mat-mdc-form-field-infix {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
::ng-deep .searchbar .mdc-text-field {
  border-radius: 25px !important;
}

::ng-deep .cdk-overlay-pane {
  margin-top: 5px !important;
}

::ng-deep .searchbar .mdc-line-ripple {
  display: none !important;
}

.restore-icon {
  display: inline-block;
  float: right;
}

.last-clicked {
  display: flex;
  width: 450px;
  justify-content: space-between;
}
