// Color palette to represent Atos Light brand colors.
$atos-light-color-palette: (
	50: #e6f1fc,
	100: #cce4fa,
	200: #99c8f5,
	300: #66adf0,
	400: #3dc7ff,
	500: #0073e6,
	600: #0c54c0,
	700: #015365,
	800: #003a8c,
	900: #00005c,
	A100: #cce4fa,
	A200: #99c8f5,
	A400: #015365,
	A700: #00005c,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #ffffff,
		A700: #ffffff,
	),
);
