// Color palette to represent Eviden Brand Colors. Colors taken from Eviden Parallel.
$eviden-color-palette: (
  50: #ffcdb8,
  100: #fab699,
  200: #fc9264,
  300: #e96e3a,
  400: #c25114,
  500: #a54703,
  600: #7e3301,
  700: #632d03,
  800: #401d02,
  900: #231001,
  A100: #c7e4ea,
  A200: #a1cad3,
  A400: #015365,
  A700: #0f343e,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
