mat-form-field {
  padding: 0px;
  width: 65%;
  min-width: 350px;
  max-width: 650px;
}

.selected-item-container {
  display: flex;
  align-items: center;
  width: 65%;
  max-width: 650px;
}
.item-text {
  margin-right: 10px;
  margin-top: 4px;
  font-size: 16px;
}
